@font-face {
    font-family: Cyber-Font;
    src: url(../fonts/Cybercrime2004Regular-jnz0.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 97vh;
    background-color: #414141;
}
header{
    height: 100vh;
    width: 270px;
    background: rgb(25, 25, 25);
}
.global{
    display: flex;
}
#cover{
    width: 100%;
    padding: 0;
}
header nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 20px;
    gap: 25px;
    color: white;
    font-size: 1.4rem;
    justify-content: center;
    font-family: monospace;
}
header nav ul li{
    display: flex;
    align-items: center;
    gap: 10px;
}
a{
    color: white;
    text-decoration: none;
}
main{
    position: relative;
    padding: 40px;
}
.Nav-Cover{
    padding: 0;
}
#Welcome-messege{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    width: 400px;    
}
#description{
    transform: translateY(10px);
    color: #bebebe;
    width: 450px;
}

.terminal {
    width: 600px;
    height: 400px;
    max-width: 800px;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
}

.prompt {
    color: #1ebe1e;
}

.command {
    color: rgb(4, 162, 4);
    font-weight: bold;
}

output{
    color: white;
}
.description {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(7, 186, 7);
}

.pixel-size {
    color: green;
    font-size: 40px;
}